.weather {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba($swatch_0, 0.3);
    @media (min-width: $md) {
        margin-top: 50px;
    }
    &__content-top {
        
    }
    &__content-middle {
        
    }
    &__content-bottom {
       
    }
    &__box-form {
       padding: 10px;
    }

}