{% extends '_base.html' %}
{% block main %}
<div class="content-wrap">
    <div class="container">
        <div class="weather">
            <div class="weather__content-top">
                <div class="grid">
                    <div class="grid__item width-1-1 width-1-2-sm">
                        <div class="card-notifi card-notifi_position_left">
                            <div class="card-notifi__content-top">
                                <span class="card-notifi__txt card-notifi__txt_big">15</span>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">Пятница</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item width-1-1 width-1-2-sm">
                        <div class="card-notifi card-notifi_position_right">
                            <div class="card-notifi__content-top">
                                <span class="card-notifi__txt card-notifi__txt_big">Харьков</span>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">12:30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather__content-middle">
                <div class="grid">
                    <div class="grid__item width-1-1 width-1-2-sm">
                        <div class="infographic infographic_position_left">
                            <figure class="infographic__box-picture">
                                <img src="{{url_for('static', filename='images/weather/10d.svg')}}" alt="picture weather" class="infographic__picture">
                            </figure>
                        </div>
                    </div>
                    <div class="grid__item width-1-1 width-1-2-sm">
                        <div class="card-notifi card-notifi_position_right">
                            <div class="card-notifi__content-top card-notifi__content-top_position-deg">
                                <span class="card-notifi__txt card-notifi__txt_big card-notifi__txt_big-mega">15</span>
                                <span class="card-notifi__txt card-notifi__txt_big card-notifi__txt_position-sing">
                                    <span class="card-notifi__sing-o">o</span>
                                    <span class="card-notifi__sing-c">c</span>
                                </span>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">Легкий дождь</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather__content-bottom">
                <div class="grid">
                    <div class="grid__item width-1-1 width-1-3-sm">
                        <div class="card-notifi card-notifi_position_left">
                            <div class="card-notifi__content-top">
                                <figure class="card-notifi__box-picture">
                                    <img src="{{url_for('static', filename='images/other/humidity.svg')}}" alt="humidity" class="card-notifi__picture">
                                </figure>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">40%</span>
                            </div>
                        </div>        
                    </div>
                    <div class="grid__item width-1-1 width-1-3-sm">
                        <div class="card-notifi">
                            <div class="card-notifi__content-top">
                                <figure class="card-notifi__box-picture">
                                    <img src="{{url_for('static', filename='images/other/wind.svg')}}" alt="wind" class="card-notifi__picture">
                                </figure>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">2.68 м/с</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item width-1-1 width-1-3-sm">
                        <div class="card-notifi card-notifi_position_right">
                            <div class="card-notifi__content-top">
                                <figure class="card-notifi__box-picture">
                                    <img src="{{url_for('static', filename='images/other/visibility.svg')}}" alt="visibility" class="card-notifi__picture">
                                </figure>
                            </div>
                            <div class="card-notifi__content-bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent card-notifi__txt_position-top">10000 м</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-panel">
                <div class="control-panel__box-button">
                    <div class="grid">
                        <div class="grid__item width-1-2">
                            <button class="button">B1</button>
                        </div>
                        <div class="grid__item width-1-2">
                            <button class="button">B2</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         
{% endblock %}