{% extends '_base.html' %}
{% block main %}
<div class="content-wrap">
    <div class="container">
        <div class="weather">
            <div class="weather__content-top">
                <div class="grid">
                    <div class="grid__item width-1-2">
                        <div class="card-notifi">
                            <div class="card-notifi__content_top">
                                <span class="card-notifi__txt card-notifi__txt_big">15</span>
                            </div>
                            <div class="card-notifi__content_bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">Пятница</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item width-1-2">
                        <div class="card-notifi">
                            <div class="card-notifi__content_top">
                                <span class="card-notifi__txt card-notifi__txt_big">Харьков</span>
                            </div>
                            <div class="card-notifi__content_bottom">
                                <span class="card-notifi__txt card-notifi__txt_accent">12:30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather__content-middle">
                <div class="grid">
                    <div class="grid__item width-1-1 width-1-2-md">MIDDLE 1</div>
                    <div class="grid__item width-1-1 width-1-2-md">MIDDLE 2</div>
                </div>
            </div>
            <div class="weather__content-bottom">
                <div class="grid">
                    <div class="grid__item width-1-3">BOTTOM 1</div>
                    <div class="grid__item width-1-3">BOTTOM 2</div>
                    <div class="grid__item width-1-3">BOTTOM 3</div>
                </div>
            </div>
            <div class="control-panel">
                <div class="control-panel__box-button">
                    <div class="grid">
                        <div class="grid__item width-1-2">
                            <button class="button">B1</button>
                        </div>
                        <div class="grid__item width-1-2">
                            <button class="button">B2</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         
{% endblock %}