//======= Break point
$sm: 480px;
$md: 640px;
$lg: 960px;

//======== Color
$swatch_0: #2F259DB2;
$swatch_1: #10347AB2;
$swatch_2: #93a1a1;
$swatch_3: #939393;
$swatch_4: #FFFFFF;
$swatch_5: #FFDB4D;
$swatch_6: #00AAD45C; 
$swatch_7: #c4c4c428;
$swatch_8: #E5E5E5;
$swatch_9: #d33682;
$swatch_10: #00000040;


